.App {
  padding: 0 60px 0 60px;
}

.title {
  padding-left: 20px;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 5px;
}

.subtitle {
  padding-left: 20px;
  color: darkgray;
  line-height: 1.2;
  margin-top: 0;
}